{% extends 'base.html' %}

{% block title %}Operation Adventure{% endblock %}

{% block body %}
<div>
	<h1>Operation Adventure</h1>
</div>
<div>
	<h4>Login here</h4>
  <form id="login-form" action="/login" method="POST">
    <div>Email:
			<input type="text" name="email" required="required" />
    </div>
    <div>Password:
			<input type="password" name="password" required="required" />
		</div>
    <div>
      <input type="submit" />
    </div>
	</form>
</div>
<div id="create_user-link">
  <a href="/users/create-user">Need an account? Click here...</a>
</div>
{% endblock %}

{% block after_body %}
<script src="/static/js/homepage.js"></script>
{% endblock %}