{% extends 'base.html' %}
{% block title %}My Trip{% endblock %}

{% block head %}
<script src="/static/js/my_trip_map.js"></script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCAzkJ73QJXmoq8jsCvLAe0RRqcNG5vOQ&callback=initMap&libraries=places&v=weekly">
</script>
<style>
  .map #map {
  width: 500px;
  height: 500px;
}
</style>
{% endblock %}

{% block body %}
<div id="trip-name"></div>
<div hidden id="itinerary-id"></div>
<div id="itinerary">
  Itinerary
  <div id="travel-dates"></div>
  <div id="misc-activities"></div>
</div>
<div id="add-actitities">
  <button id="add-activity-btn" action="/users/trips/activities">Add activities</button>
</div>
<div id="notes">Notes</div>
<div id="add-new-note">
  <form id="new-note-form" action="/users/trips/new-note.json"  method="POST">
    <textarea id="comment" name="comment" placeholder="Leave a note for your mates..." rows="4" columns="20"></textarea>
    <input id="comment-date" type="date" name="date" />
    <input type="submit" />
  </form>
</div>
<div id="travel-mates">
  <button id="add-mate-btn">Add a Friend!</button>
</div>
<div>
  <button onclick="window.print()" id="pretty-print">Print this itinerary</button>
</div>
<div class="map">
  <div id="map"></div>
</div>
{% endblock %}

{% block after_body %}
<script src="/static/js/my_trip.js"></script>
{% endblock %}