{% extends 'base.html' %}
{% block title %}My Trip{% endblock %}

{% block head %}
<script src="/static/js/my_trip_map.js"></script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCAzkJ73QJXmoq8jsCvLAe0RRqcNG5vOQ&callback=initMap&libraries=places&v=weekly">
</script>
<style>
  .map #map {
  width: 500px;
  height: 500px;
}
</style>
{% endblock %}

{% block body %}
<h1>My Trip to {{ itinerary.trip_name }}</h1>
<div hidden id="latitude">{{itinerary.lat}}</div>
<div hidden id="longitude">{{itinerary.lng}}</div>
<div>
  {% for a in activities %}
  <p>{{ a.activity_name }}</p>
  <p>{{ a.address }}</p>
  {% endfor %}
</div>
<div>
  {% for n in notes %}
  <p>{{ n.comment }}</p>
  {% endfor %}
</div>

    <section class="map">
        <div id="map"></div>
    </section>


{% endblock %}