{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s Profile{% endblock %}


{% block body %}
<h1> User profile page</h1>
<div id="user-name">
  <h3>{{ user.fname }} {{ user.lname}}</h3>
</div>
<div id="user-email">
  <p>{{ user.email }}</p>
</div>
<div>
  <h2>Itineraries</h2>
  <ul>
    {% for itin in user_itins %}
      <div>
        <li>
          <a href="/users/trips/{{ itin.itinerary_id }}">{{ itin.trip_name }}</a>
        </li>
      </div>
    {% endfor %}
  </ul>
</div>
<div >
  <button id="new-trip-btn">Add New Trip</button>
</div>
<div hidden id="add-new-trip">
  <form id="new-trip-form" action="/users/trips/new-trip.json" method="POST">
    <div>Where are you going for your next adventure?
      <input id="city-input" type="text" name="city" placeholder="city, state or country"/>
    </div>
    <div>Departure Date:
      <input id="depart-date" type="date" name="depart" />
    </div>
    <div>Return Date:
      <input id="return-date" type="date" name="return" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
</div>
<div>
  <button id="existing-trip-button">Join an existing trip!</button>
</div>
<div hidden id="add-existing-trip">
  <form id="existing-trip-form" action="/users/trips/add-trip.json" method="POST">
    <div>You should have received a trip id # from your travel mate.  Please enter it here.
      <input id="existing-trip-id" type="text" name="id" />
      <input type="submit" />
    </div>
  </form>
</div>

{% endblock %}

{% block after_body %}
<script src="/static/js/user_profile.js"></script>
{% endblock %}
